// selectively import components we need from bootstrap
// see: node_modules/bootstrap/scss/bootstrap.scss
//@import "source/scss/bootstrap";

@import "_variables";
@import "bootstrap";

blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: 2px solid lightgrey;
}
